In [65]:
import pandas as pd

In [2]:
NSW_LAND_VALUE_FILE_PATH = "./data/NSW_Land_Sales_Data"
CSV_FORMAT = "*.csv"

LV_2019 = "data/NSW_Land_Sales_Data/LV_20190801/088_LAND_VALUE_DATA_20190801.csv"
LV_2024 = "data/NSW_Land_Sales_Data/LV_20240301/088_LAND_VALUE_DATA_20240301.csv"
LV2019_df = pd.read_csv(LV_2019)
LV2024_df = pd.read_csv(LV_2024)

In [3]:
LV2019_df.info()
print(LV2019_df.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10382 entries, 0 to 10381
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DISTRICT CODE         10382 non-null  int64
 1   DISTRICT NAME         10382 non-null  object
 2   PROPERTY ID           10382 non-null  int64
 3   PROPERTY TYPE         10382 non-null  object
 4   PROPERTY NAME         291 non-null    object
 5   UNIT NUMBER           43 non-null     object
 6   HOUSE NUMBER          10066 non-null  object
 7   STREET NAME           10381 non-null  object
 8   SUBURB NAME           10382 non-null  object
 9   POSTCODE              10382 non-null  int64
 10  PROPERTY DESCRIPTION  10365 non-null  object
 11  ZONE CODE             10382 non-null  object
 12  AREA                  10335 non-null  float64
 13  AREA TYPE             10335 non-null  object
 14  BASE DATE 1           10382 non-null  object
 15  LAND VALUE 1          10382 non-null  int64
 16  AUTHORITY 1           10382 non-null  object
 17  BASIS 1               10382 non-null  object
 18  BASE DATE 2           10382 non-null  object
 19  LAND VALUE 2          10334 non-null  float64
 20  AUTHORITY 2           10334 non-null  object
 21  BASIS 2               10334 non-null  object
 22  BASE DATE 3           10382 non-null  object
 23  LAND VALUE 3          10382 non-null  int64
 24  AUTHORITY 3           10382 non-null  object
 25  BASIS 3               10382 non-null  object
 26  BASE DATE 4           10382 non-null  object
 27  LAND VALUE 4          10218 non-null  float64
 28  AUTHORITY 4           10218 non-null  object
 29  BASIS 4               10218 non-null  object
 30  BASE DATE 5           10382 non-null  object
 31  LAND VALUE 5          10162 non-null  float64
 32  AUTHORITY 5           10162 non-null  object
 33  BASIS 5               10162 non-null  object
 34  Unnamed: 34           0 non-null      float64
dtypes: float64(5), int64(5), object(25)
memory usage: 2.8+ MB
DISTRICT CODE               1
DISTRICT NAME               1
PROPERTY ID             10382
PROPERTY TYPE               2
PROPERTY NAME             199
UNIT NUMBER                16
HOUSE NUMBER              936
STREET NAME               443
SUBURB NAME                15
POSTCODE                    6
PROPERTY DESCRIPTION    10268
ZONE CODE                  15
AREA                     4479
AREA TYPE                   2
BASE DATE 1                 1
LAND VALUE 1             1488
AUTHORITY 1                 6
BASIS 1                     7
BASE DATE 2                 1
LAND VALUE 2             1492
AUTHORITY 2                 6
BASIS 2                     7
BASE DATE 3                 1
LAND VALUE 3             1686
AUTHORITY 3                 7
BASIS 3                     8
BASE DATE 4                 1
LAND VALUE 4             1533
AUTHORITY 4                 7
BASIS 4                     7
BASE DATE 5                 1
LAND VALUE 5             1496
AUTHORITY 5                 8
BASIS 5                     7
Unnamed: 34                 0
dtype: int64

In [16]:
def concatAddress(row: pd.Series):
    return f'{row["UNIT NUMBER"] + "/" if not pd.isnull(row["UNIT NUMBER"]) else ""} {row["HOUSE NUMBER"] if not pd.isnull(row["HOUSE NUMBER"]) else ""} {row["STREET NAME"]}, {row["SUBURB NAME"]}'

def mergeAllLandValue(row: pd.Series):
    maxRecord = 5
    result = {}
    for i in range(1,maxRecord + 1):
        landValueColumn = f'LAND VALUE {i}'
        if landValueColumn in row:
            result[row[f'BASE DATE {i}'].split('/')[2]] = row[f'LAND VALUE {i}']
    return result

In [22]:
address_df = LV2019_df.apply(concatAddress, axis=1)
landValue_df = LV2019_df.apply(mergeAllLandValue, axis=1)
LV2019_df["ADDRESS"] = address_df
LV2019_df["LAND VALUE"] = landValue_df
filtered_2019_df = LV2019_df[["PROPERTY ID", "PROPERTY DESCRIPTION", "ADDRESS", "POSTCODE", "DISTRICT NAME", "DISTRICT CODE", "LAND VALUE"]]

In [23]:
filtered_2019_df

,PROPERTY ID,PROPERTY DESCRIPTION,ADDRESS,POSTCODE,DISTRICT NAME,DISTRICT CODE,LAND VALUE
0,768879,X/403084,"28 ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2018': 1500000, '2017': 1370000.0, '2016': 1..."
1,768880,Y/403084,"26 ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2018': 1970000, '2017': 1520000.0, '2016': 1..."
2,768881,A/437985,"26A ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2018': 1500000, '2017': 1370000.0, '2016': 1..."
3,768886,UNNUMBERED LOT,"ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2018': 817000, '2017': 803000.0, '2016': 774..."
4,768887,1/873687,"41 ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2018': 817000, '2017': 803000.0, '2016': 774..."
...,...,...,...,...,...,...,...
10377,3918239,2/1216746,"10 ATCHISON ST, ST LEONARDS",2065,NORTH SYDNEY,88,"{'2018': 459121, '2017': 423000.0, '2016': 396..."
10378,3918240,3/1216746,"10 ATCHISON ST, ST LEONARDS",2065,NORTH SYDNEY,88,"{'2018': 3263092, '2017': 3010000.0, '2016': 2..."
10379,3917253,101/1195502,"1 BLIGH ST, KIRRIBILLI",2061,NORTH SYDNEY,88,"{'2018': 1070000, '2017': 986000.0, '2016': 93..."
10380,3917254,102/1195502,"3 BLIGH ST, KIRRIBILLI",2061,NORTH SYDNEY,88,"{'2018': 924000, '2017': 851000.0, '2016': 802..."
10381,3926642,"30, 39/4313 NSW Maritime 20378_1","15 ELAMANG AVE, KIRRIBILLI",2061,NORTH SYDNEY,88,"{'2018': 7380000, '2017': 6300000.0, '2016': 6..."

In [19]:
address_df = LV2024_df.apply(concatAddress, axis=1)
landValue_df = LV2024_df.apply(mergeAllLandValue, axis=1)
LV2024_df["ADDRESS"] = address_df
LV2024_df["LAND VALUE"] = landValue_df
filtered_2024_df = LV2024_df[["PROPERTY ID", "PROPERTY DESCRIPTION", "ADDRESS", "POSTCODE", "DISTRICT NAME", "DISTRICT CODE", "LAND VALUE"]]

In [20]:
filtered_2024_df

,PROPERTY ID,PROPERTY DESCRIPTION,ADDRESS,POSTCODE,DISTRICT NAME,DISTRICT CODE,LAND VALUE
0,768879,X/403084,"28 ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2023': 2430000, '2022': 1820000, '2021': 154..."
1,768880,Y/403084,"26 ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2023': 3190000, '2022': 2390000, '2021': 203..."
2,768881,A/437985,"26A ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2023': 2430000, '2022': 1820000, '2021': 154..."
3,768886,UNNUMBERED LOT,"ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2023': 813000, '2022': 829000, '2021': 82300..."
4,768887,1/873687,"41 ALFRED ST S, MILSONS POINT",2061,NORTH SYDNEY,88,"{'2023': 813000, '2022': 829000, '2021': 82300..."
...,...,...,...,...,...,...,...
10330,4293162,"1, 2, CP/SP101263","68 BENELONG RD, CREMORNE",2090,NORTH SYDNEY,88,"{'2023': 4540000, '2022': 4730000, '2021': 394..."
10331,4256732,1/1258791,"398 PACIFIC HWY, CROWS NEST",2065,NORTH SYDNEY,88,"{'2023': 9790000, '2022': 8980000, '2021': 804..."
10332,4258180,"1, 2, 3, 4, CP/SP100545","106 KIRRIBILLI AVE, KIRRIBILLI",2061,NORTH SYDNEY,88,"{'2023': 6710000, '2022': 5470000, '2021': 455..."
10333,4283360,1/633536,"WEST ST, NORTH SYDNEY",2060,NORTH SYDNEY,88,"{'2023': 20900, '2022': 18200, '2021': 15400, ..."
10334,4283494,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,...","45 ATCHISON ST, CROWS NEST",2065,NORTH SYDNEY,88,"{'2023': 18700000, '2022': 19100000, '2021': 1..."

In [24]:
merged_df = pd.merge(filtered_2024_df, filtered_2019_df, on="PROPERTY ID", how="outer")

In [25]:
merged_df

,PROPERTY ID,PROPERTY DESCRIPTION_x,ADDRESS_x,POSTCODE_x,DISTRICT NAME_x,DISTRICT CODE_x,LAND VALUE_x,PROPERTY DESCRIPTION_y,ADDRESS_y,POSTCODE_y,DISTRICT NAME_y,DISTRICT CODE_y,LAND VALUE_y
0,767884,1/555908,"13 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 18800, '2022': 18500, '2021': 11800, ...",1/555908,"13 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2018': 10900, '2017': 9550.0, '2016': 8700, ..."
1,767885,1/973695,"15 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 2250000, '2022': 2340000, '2021': 195...",1/973695,"15 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2018': 1500000, '2017': 1310000.0, '2016': 1..."
2,767886,1/973696,"17 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 2160000, '2022': 2240000, '2021': 186...",1/973696,"17 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2018': 1440000, '2017': 1260000.0, '2016': 1..."
3,767887,14/3102,"19 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 2560000, '2022': 2660000, '2021': 221...",14/3102,"19 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2018': 1690000, '2017': 1480000.0, '2016': 1..."
4,767892,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, CP/SP52968","33 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 5550000, '2022': 5900000, '2021': 492...","1, 2, 3, 4, 5, 6, 7, 8, 9, 10, CP/SP52968","33 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2018': 3940000, '2017': 3420000.0, '2016': 3..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10591,4516516,"1, 2, 3, 4, CP/SP101673","182 KURRABA RD, KURRABA POINT",2089.0,NORTH SYDNEY,88.0,"{'2023': 7850000, '2022': 7990000, '2021': 646...",NaN,NaN,NaN,NaN,NaN,NaN
10592,4516553,PT 1/1279891 Of the part formerly in Lots 1-6 ...,"79-81 SINCLAIR ST, WOLLSTONECRAFT",2065.0,NORTH SYDNEY,88.0,"{'2023': 9000000, '2022': 8800000, '2021': 800...",NaN,NaN,NaN,NaN,NaN,NaN
10593,4518198,"1, 2, 3, 4, 5, 6, 7, 8, CP/SP104001","14 SPRUSON ST, NEUTRAL BAY",2089.0,NORTH SYDNEY,88.0,"{'2023': 3770000, '2022': 4020000, '2021': 341...",NaN,NaN,NaN,NaN,NaN,NaN
10594,4518499,1/591045,"107 HIGH ST, NORTH SYDNEY",2060.0,NORTH SYDNEY,88.0,"{'2023': 13450000, '2022': 13650000, '2021': 1...",NaN,NaN,NaN,NaN,NaN,NaN
10595,4519113,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,...","63 CARTER ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 11500000, '2022': 12300000, '2021': 1...",NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
merged_df.columns

Index(['PROPERTY ID', 'PROPERTY DESCRIPTION_x', 'ADDRESS_x', 'POSTCODE_x',
       'DISTRICT NAME_x', 'DISTRICT CODE_x', 'LAND VALUE_x',
       'PROPERTY DESCRIPTION_y', 'ADDRESS_y', 'POSTCODE_y', 'DISTRICT NAME_y',
       'DISTRICT CODE_y', 'LAND VALUE_y', 'Land Value', 'Land VALUE'],
      dtype='object')

In [77]:
def processMergedRows(row: pd.Series):
    columns = ["PROPERTY DESCRIPTION", "ADDRESS", "POSTCODE", "DISTRICT NAME", "DISTRICT CODE", "LAND VALUE"]
    for column in columns:
        if column == "LAND VALUE":
            if not pd.isnull(row["LAND VALUE_y"]) and not pd.isnull(row["LAND VALUE_x"]):
                row["LAND VALUE_x"].update(row["LAND VALUE_y"])        
            elif not pd.isnull(row["LAND VALUE_y"]) and pd.isnull(row["LAND VALUE_x"]):
                row["LAND VALUE_x"] = row["LAND VALUE_y"]
        else:
            if pd.isnull(row[f'{column}_x']) and not pd.isnull(row[f'{column}_y']):
                row[f'{column}_x'] = row[f'{column}_y']
    return row

In [80]:
mergedLand_df = merged_df.apply(processMergedRows, axis=1)

mergedLand_df = mergedLand_df.rename(columns={"PROPERTY DESCRIPTION_x": "PROPERTY DESCRIPTION", "ADDRESS_x": "ADDRESS", "POSTCODE_x": "POSTCODE",
       "DISTRICT NAME_x": "DISTRICT NAME", "DISTRICT CODE_x": "DISTRICT CODE"})

mergedLand_df = mergedLand_df[["PROPERTY ID", "PROPERTY DESCRIPTION", "ADDRESS", "POSTCODE", "DISTRICT NAME", "DISTRICT CODE", "LAND VALUE"]]
mergedLand_df.head()

,PROPERTY ID,PROPERTY DESCRIPTION,ADDRESS,POSTCODE,DISTRICT NAME,DISTRICT CODE,LAND VALUE
0,767884,1/555908,"13 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 18800, '2022': 18500, '2021': 11800, ..."
1,767885,1/973695,"15 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 2250000, '2022': 2340000, '2021': 195..."
2,767886,1/973696,"17 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 2160000, '2022': 2240000, '2021': 186..."
3,767887,14/3102,"19 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 2560000, '2022': 2660000, '2021': 221..."
4,767892,"1, 2, 3, 4, 5, 6, 7, 8, 9, 10, CP/SP52968","33 ABBOTT ST, CAMMERAY",2062.0,NORTH SYDNEY,88.0,"{'2023': 5550000, '2022': 5900000, '2021': 492..."

In [81]:
mergedLand_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10596 entries, 0 to 10595
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PROPERTY ID           10596 non-null  int64
 1   PROPERTY DESCRIPTION  10580 non-null  object
 2   ADDRESS               10596 non-null  object
 3   POSTCODE              10596 non-null  float64
 4   DISTRICT NAME         10596 non-null  object
 5   DISTRICT CODE         10596 non-null  float64
 6   LAND VALUE            10596 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 579.6+ KB